@CHARSET "ISO-8859-1";
a {
	text-decoration: none;
	font-size: 25px;
	padding-left: 25px;
	color: purple;
}
 .button-link {
	border: black;
}
 .add_employee {
	padding-top: 20px;
}
 .header {
	color: purple;
	font-size: 30px;;
}
 .home {
	color: purple;
	font-size: 30px;
} 