<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	id="WebApp_ID" version="2.4">
	<servlet>
		<servlet-name>SignUp</servlet-name>
		<servlet-class>com.controller.SignUp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.controller.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateDetails</servlet-name>
		<servlet-class>com.controller.UpdateDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProfileEdit</servlet-name>
		<servlet-class>com.controller.ProfileEdit</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FriendsList</servlet-name>
		<servlet-class>com.controller.FriendsList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FriendProfile</servlet-name>
		<servlet-class>com.controller.FriendProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadImage</servlet-name>
		<servlet-class>com.controller.UploadImage</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.controller.Logout</servlet-class>
	</servlet>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>com.filters.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthenticateFilter</filter-name>
		<filter-class>com.filters.AuthenticateFilter</filter-class>
	</filter>
	<servlet-mapping>
		<servlet-name>SignUp</servlet-name>
		<url-pattern>/SignUp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateDetails</servlet-name>
		<url-pattern>/UpdateDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendsList</servlet-name>
		<url-pattern>/FriendsList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendProfile</servlet-name>
		<url-pattern>/FriendProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProfileEdit</servlet-name>
		<url-pattern>/ProfileEdit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadImage</servlet-name>
		<url-pattern>/UploadImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/Login</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>/ProfileEdit</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>/FriendsList</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>/UpdateDetails</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>/FriendProfile</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>/UploadImage</url-pattern>
	</filter-mapping>
	<welcome-file-list>
		<welcome-file>registration.html</welcome-file>
	</welcome-file-list>
</web-app>